body {background-color: #C0E3C2;}
h1 {text-align: center;}
main {background-color: white;width: 700px; margin: auto; padding: 20px; border-radius: 10px;box-shadow: 1px 1px 1px rgb(0, 67, 0);}
input#idade {width: 40px;}
input#peso {width: 40px;}
input#altura {width: 40px;}